<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Dressing Room</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <center>
        <h1>Try-on shirts</h1>
        <div class="hero">
            <label for="input-file" id="drop-area">
                <input type="file" id="input-file" accept="image/*" hidden>
                <div id="img-view">
                    <img src="{{url_for('static',filename='icon.png')}}" alt="">
                    <p>Drag and drop or click here<br>to upload image</p>
                </div>
            </label>
             <div class="video-container">
                    <img id="video_feed" src="">
                </div>
             <div id="image-gallery">
                <img src="{{url_for('static',filename='images/101.png')}}" alt="Image 1" class="image">
                <img src="{{url_for('static',filename='images/102.png')}}" alt="Image 2" class="image">
                <img src="{{url_for('static',filename='images/10001.png')}}" alt="Image 3" class="image">
            </div>
            
          </div>
          <div class="btn">
            <button id="start_button">Start</button>
            <button id="stop_button" >Stop</button>
       </div>
    </center>
    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>
